.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
}

.AccountWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-intro {
  font-size: large;
  font-family: 'Oswald';
  color: white;
  font-size: 32px;
  text-align: left;
  margin-left: 20px;
  align-content: center;
  display: flex;
  justify-content: center
}
body {
  margin-left: 10px;
  background:#ffc600;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
